#checkboxes label 
{
  float: left;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
  width: 20em;
  overflow: auto;
  width: 7em;
  text-align: right;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

 
  min-width: 100%;
  min-height: 100%;
}

#phoneNumber{
    margin:1em;
    border:1px solid #ffc600;
    font-size:1em;
    border-radius:5px;
    padding:.10em;
}

#box
{
    margin:1em;
    border:1px solid #ffc600;
    font-size:1em;
    border-radius:5px;
    padding:.10em;
}

#form
{
    background-image: url("1.jpg");
    margin: auto;
    border:2px solid black;
}
#form1
{
    float:left;
	  overflow: hidden;
	  margin: 50px 50px;
	  background: rgba(0,0,0,.5);
    border: 2px solid #8AC007;
    padding: 20px; 
    border-radius: 15px 50px;
    
    
}
#form2{
    float:left;
	  overflow: hidden;
	  margin: 50px 50px;
	  background: rgba(0,0,0,.5);
    border: 2px solid #8AC007;
    padding: 20px; 
    border-radius: 15px 50px;
    color:aqua;


}